@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Данные о человеке и его долговых обязательствах";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Паспорт</th>
            <th>Дата контракта</th>
            <th>Сумма обязательства</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.F @item.I @item.O</td>
                <td>@item.BirthDate.ToString("dd.MM.yyyy")</td>
                <td>@item.Series.Substring(0, 2) @item.Series.Substring(2, 2) @item.Number</td>
                <td>@item.ContractDate.ToString("dd.MM.yyyy")</td>
                <td>@string.Format("{0:N2} руб.", Convert.ToDecimal(item.DebtSum))</td>
            </tr>
        }
    </tbody>
</table>
